In [6]:
import pandas as pd

In [7]:
weather_df = pd.read_csv("Weather.csv")

In [8]:
weather_df.columns

Index(['STATION', 'NAME', 'LATITUDE', 'LONGITUDE', 'ELEVATION', 'DATE', 'PRCP',
       'PRCP_ATTRIBUTES', 'TAVG', 'TAVG_ATTRIBUTES', 'TMAX', 'TMAX_ATTRIBUTES',
       'TMIN', 'TMIN_ATTRIBUTES'],
      dtype='object')

In [9]:
weather_df['NAME'].value_counts() # Date: Jan 1 2011 - Dec 31 2021

MACTAN CEBU INTERNATIONAL, RP    4328
LEGASPI, RP                      4324
BAGUIO, RP                       4323
HINATUAN, RP                     4323
DAGUPAN, RP                      4322
VIGAN, RP                        4316
VIRAC, RP                        4312
BASCO RADAR, RP                  4299
ITBAYAT, RP                      4273
LAOAG, RP                        3972
TUGUEGARAO, RP                   3936
TAGBILARAN, RP                   3887
CABANATUAN, RP                   2919
DANIEL Z ROMUALDEZ, RP           2210
ILOILO, RP                         86
Name: NAME, dtype: int64

In [10]:
weather_mnl = pd.read_csv("Weather_MNL.csv")

In [11]:
len(weather_mnl)

8068

In [12]:
weather_mnl['PRCP'].value_counts() #precipation (in weather) amount of water na nasa ground Total na ng snow, hail, rain, etc.

0.0      1639
0.5       160
1.0       154
0.3       100
2.0        85
         ...
258.6       1
97.0        1
56.6        1
33.3        1
67.1        1
Name: PRCP, Length: 317, dtype: int64

In [13]:
weather_mnl.head() # Jan 1 2000 to Dec 31 2021

,STATION,NAME,LATITUDE,LONGITUDE,ELEVATION,DATE,PRCP,PRCP_ATTRIBUTES,TAVG,TAVG_ATTRIBUTES,TMAX,TMAX_ATTRIBUTES,TMIN,TMIN_ATTRIBUTES
0,RPW00041229,"MANILA, RP",14.55,120.98333,4.3,2000-01-01,NaN,NaN,28.4,"H,,S",NaN,NaN,24.6,",,S"
1,RPW00041229,"MANILA, RP",14.55,120.98333,4.3,2000-01-02,0.0,"D,,S",27.1,"H,,S",NaN,NaN,24.8,",,S"
2,RPW00041229,"MANILA, RP",14.55,120.98333,4.3,2000-01-03,0.0,"D,,S",27.6,"H,,S",29.5,",,S",24.5,",,S"
3,RPW00041229,"MANILA, RP",14.55,120.98333,4.3,2000-01-04,0.0,"D,,S",27.4,"H,,S",32.0,",,S",24.0,",,S"
4,RPW00041229,"MANILA, RP",14.55,120.98333,4.3,2000-01-05,0.0,"D,,S",27.6,"H,,S",29.8,",,S",NaN,NaN

In [14]:
# Wag muna i-remove ung regional data. If may pipeline na for Manila, we can just replace regions.

In [ ]:
# [Bien] Population density [Bien]
# [Bien] Correlation ng quantitative variables (magsasabi ng columns na ireretain, pwedeng i-standardize) sns.correlation (ung merong score and density na plot) -- ireretain ung mataas. Before feature engineering, wala munang alisin. If pangit ang result, saka feature engineering. 
# [BIEN] STL
# Autocorrelation? (for cyclic typhoons)
# Regressor models
# [BIEN] Call PAGASA for water-level data of rivers and dams
# Add column on dates (year, month column) to check for seasonality
# [Iggy] Consecutive days of rainfall
# Categorical data idea: below and above sea level [search for more categorical data possible]
# Economic implications (estimate of damages) [pero baka ambitious] [optional]
# map of manila, tapos meron kang parang color-coded risk
# [Bien] Data story



# [BIEN] Data to ask for pagasa: elavation (of station), latitude and longitude, station name, name of city where the station is,