In [1]:
# general libraries
import warnings
import numpy as np
import pandas as pd
from tqdm import tqdm
from collections import Counter
warnings.filterwarnings("ignore")

# visualization
import seaborn as sns
import matplotlib.pyplot as plt
#!pip install wordcloud
#!pip install nltk
from wordcloud import WordCloud
from nltk.corpus import stopwords

import nltk
nltk.download('stopwords')

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\albie\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

True

<div><span style="background-color: #000080; padding-top: 100px; padding-right: 20px; padding-bottom: 50px; padding-left: 20px; color: #FFFAF0; font-size: 24px; font-weight: bold">Data Cleaning and Preprocessing </span></div>

In [9]:
df = pd.read_csv("forecast.csv")
display(df.shape, df.head())

(406, 1)

      Point.Forecast "Lo.80" "Hi.80" "Lo.95" "Hi.95"
0  2022.9014 0.794059508451463 -28.8663255381649 ...
1  2022.9041 3.41997759251412 -27.3618513392477 3...
2  2022.9068 1.39850059715903 -29.5209140738191 3...
3  2022.9096 0.256142686209231 -30.7199369034764 ...
4  2022.9123 0.164639842866531 -30.8348205245092 ...

In [23]:
df['date'] = pd.date_range(start='11/20/2022', end = '12/31/2023', periods=len(df))

In [28]:
df.head()

,"Point.Forecast ""Lo.80"" ""Hi.80"" ""Lo.95"" ""Hi.95""",date
0,2022.9014 0.794059508451463 -28.8663255381649 ...,2022-11-20 00:00:00.000000000
1,2022.9041 3.41997759251412 -27.3618513392477 3...,2022-11-21 00:03:33.333333333
2,2022.9068 1.39850059715903 -29.5209140738191 3...,2022-11-22 00:07:06.666666666
3,2022.9096 0.256142686209231 -30.7199369034764 ...,2022-11-23 00:10:40.000000000
4,2022.9123 0.164639842866531 -30.8348205245092 ...,2022-11-24 00:14:13.333333333

In [31]:
df['Date'] = df['date'].dt.date

In [33]:
df.drop('date', axis=1, inplace=True)
df

        Point.Forecast "Lo.80" "Hi.80" "Lo.95" "Hi.95"        Date
0    2022.9014 0.794059508451463 -28.8663255381649 ...  2022-11-20
1    2022.9041 3.41997759251412 -27.3618513392477 3...  2022-11-21
2    2022.9068 1.39850059715903 -29.5209140738191 3...  2022-11-22
3    2022.9096 0.256142686209231 -30.7199369034764 ...  2022-11-23
4    2022.9123 0.164639842866531 -30.8348205245092 ...  2022-11-24
..                                                 ...         ...
401  2024.0000 0.5000001186398 -43.3631205235897 44...  2023-12-26
402  2024.0027 3.00000007625765 -40.8631205659718 4...  2023-12-27
403  2024.0055 4.90158311929303e-08 -43.86312059321...  2023-12-28
404  2024.0082 3.15057160718175e-08 -43.86312061072...  2023-12-29
405  2024.0110 2.02508071584096e-08 -43.86312062197...  2023-12-31

[406 rows x 2 columns]

In [36]:
ts_df = df.set_index('Date')
ts_df.head()

               Point.Forecast "Lo.80" "Hi.80" "Lo.95" "Hi.95"
Date
2022-11-20  2022.9014 0.794059508451463 -28.8663255381649 ...
2022-11-21  2022.9041 3.41997759251412 -27.3618513392477 3...
2022-11-22  2022.9068 1.39850059715903 -29.5209140738191 3...
2022-11-23  2022.9096 0.256142686209231 -30.7199369034764 ...
2022-11-24  2022.9123 0.164639842866531 -30.8348205245092 ...